.card
  .card-header
    = simple_form_for @sign, url: url do |f|
      .form-inputs
        .row
          .col-md-6
            =f.input :meaning, label: 'Arti'
          .col-md-6
            =f.input :category_id, collection: Category.where.not(title: "Default"), label: "Kategori", include_blank: "Pilih Kategori"
        .row
          .col-md-12
            =f.input :image, label: 'Gambar Isyarat'
            = image_tag "#{@sign.image.file.present? ? @sign.image.url : ''}", class: "#{@sign.image.file.present? ? '' : 'hidden'} image_to_upload img-thumbnail"
        .row
          .col-md-12
            =f.input :sign_type, collection: [["SIBI", "sibi"], ["BISINDO", "bisindo"]], label:'Bahasa', include_blank: "Pilih bahasa"
      .form-actions
        = f.button :submit, class: "btn btn-primary btn-block"


- content_for :script do
  javascript:
    (function () {
      var ready_post;
      ready_post = function () {
        var readURL;
        $('#sign_image').on('change', function (e) {
          return readURL(this);
        });
        return readURL = function (input) {
          var reader;
          if (input.files && input.files[0]) {
            reader = new FileReader();
          }
          reader.onload = function (e) {
            var $swap;
            $('.image_to_upload').attr('src', e.target.result).removeClass('hidden');
            $swap = $('.swap');
            if ($swap) {
              return $swap.removeClass('hidden');
            }
          };
          return reader.readAsDataURL(input.files[0]);
        };
      };
      $(document).ready(ready_post);
      $(document).on('turbolinks:load', ready_post);
    }).call(this);